<div ng-form="id">
    <!--<div class="col-sm-1"></div>-->
    <div class="form-group">
        <div class="col-sm-3 text-right">
            <label class="control-label">{{labelText}}</label>
        </div>
        <div class="col-sm-6">
            <integer-input-control  
                                    [id]="id"
                                    [disabled]="disabled"
                                    [required]="required"
                                    [validate]="validate"
                                    [max]="max"
                                    [directives]="directives"
                                    [customValidationCondition]="customValidationCondition"
                                    [customValidationMessage]="customValidationMessage"
                                    [leyend]="leyend"
                                    [hasLeyend]="hasLeyend"
                                    (on-blur)="onBlurEvent(value)"
                                    (on-enter)="onEnterEvent(value)">
            </integer-input-control>     
        </div>  
        <div class="col-sm-2"></div>
    </div>
</div>